.chat-item {
    min-height: 150px;
    width: 100%;
    border: solid white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
    padding: 0;

};


.classNamem {
 
}

.Telegram {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    border: 2px solid white !important;
    margin-left: 0; 
    max-height: 90vh;
    width: 100% !important;
    
    

}



.chat-item:hover{
    background-color: bisque;
    color: black;
}



.list_of-cats{
    overflow: scroll;
    max-width: 300px;
    scrollbar-width: none;
    border: 2px solid;
    /* background-color: blueviolet; */
    
}



.centr-bottom{
    margin: 0 auto;
    margin-top: 10px;
}
.centr-bottom button{
    min-width: 90px;
    margin: 5px;
}

.chat-button:hover, .centr-bottom button:hover{
    background-color: grey;
    color: white;
}

.chat-button:click, .centr-bottom button:click{
    background-color: grey;
    color: white;
}